/* Global Declaration. Will affect everything below */
body {
    background-image: url("../asset/img/img1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; 
}

/* Mobile */
@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .logo img {
        width: 30px; 
        height: auto;
    }
    nav.header {
        margin-top: 15px;
        display: flex;
        gap: 15px; 
    }
    nav.header a {
        font-size: 14px;
        text-decoration: none;
        color: white;
    }
}


/* Tablet */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }
    section {
        margin: 100px 0 0 50px;
    }
}


/* Desktop */
@media screen and (min-width: 1025px) {
    header {
        display: flex;
        justify-content: space-between; /* Pushes Logo left, Nav right */
        align-items: center;
        padding: 20px 80px; /* Side padding keeps content off edges */
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .logo img {
        width: 50px;
    }

    /* FIX: Removed the 70% margin that was breaking your nav */
    nav.header {
        display: flex;
        gap: 30px; /* Consistent spacing between links */
    }

    nav.header a {
        text-decoration: none;
        color: white;
        font-weight: 500;
    }

    section {
        color: white;
        margin-left: 100px;
        margin-top: 150px;
    }
}
