/* Mobile */
@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        padding: 10px;
    }
    .logo img {
        margin-left: 0; /* Remove desktop margin */
    }
    .logo a {
        margin-right: 0;
    }
    nav.header {
        margin-top: 15px;
    }
    nav.header a {
        margin-left: 10px;
        font-size: 14px;
    }
    section {
        margin: 80px 20px 0 20px; /* Center text */
        text-align: center;
    }
    .btns .agent, .btns .loc {
        margin: 10px 0;
        width: 100%; /* Stack buttons */
    }
    input[type="search"] {
        margin-left: 0;
        width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    header {
        justify-content: space-around;
    }
    .logo img {
        margin-left: 20px;
    }
    section {
        margin-left: 50px;
        margin-top: 100px;
    }
    .btns .agent {
        margin-left: 50px;
    }
    input[type="search"] {
        margin-left: 50px;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    header {
        justify-content: flex-start;
    }
    .logo img {
        margin-left: 250px;
    }
    .logo a {
        margin-right: 50px;
    }
    section {
        margin-left: 260px;
        margin-top: 150px;
    }
    .btns .agent {
        margin-left: 300px;
    }
    input[type="search"] {
        margin-left: 200px;
    }
}
