@page "/"

<PageTitle>Real Estate</PageTitle>

<h1>Real Estate</h1>
<p>Welcome to the Real Estate application. This is the home page</p>

<div class="border p-5 border">
    <div class="border-p"></div>
</div>
